[alias]
  a = add -p
  alias = config --get-regexp alias
  amend = !git add -p && git commit --amend --no-edit && git push --force-with-lease
  bc = !git remote prune origin && git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}' | xargs git branch -D
  br = branch --all
  c = !eval git commit -m \\'$@\\' && git push "#"
  cl = !git clone --depth=1 $1 || git clone --depth=1 https://github.com/$1.git || git clone --depth=1 https://gitlab.com/$1.git "#"
  co = checkout
  cp = cherry-pick
  force = push --force-with-lease
  hard = !git reset --hard $([[ $1 -ne 0 ]] && echo HEAD~)$1 "#"
  https = !git remote set-url origin $(git remote get-url origin | sed 's/^git@\\(.*\\):\\/*\\(.*\\)/https:\\/\\/\\1\\/\\2/')
  lg = !git ll \"$@\" | fzf --ansi --no-sort --reverse --tiebreak=index "#"
  ll = !git log --pretty='%C(auto)%h %C(blue)%ad %C(green)%an %C(auto)%s' --date=human --color=always --shortstat \"$@\" | perl -0777 -pe 's/\\n+\\s+(\\d+) files? changed(?:, (\\d+) insertions?\\(\\+\\))?(?:, (\\d+) deletions?\\(-\\))?\\n*/sprintf \" \\e[33m%df \\e[32m+%d \\e[31m-%d\\e[0m\\n\", $1, $2\\/\\/0, $3\\/\\/0/ge' "#"
  open = !git remote -v | grep fetch | awk '{print $2}' | sed 's/.*git@\\(.*\\):\\(.*\\)/https:\\/\\/\\1\\/\\2/' | xargs open
  pl = !git pull --rebase --autostash --no-edit --recurse-submodules
  ps = !git pl && git push
  rename = !git checkout $1 && git branch -m $1 $2 && git push origin -u $2 && git push origin :$1 "#"
  ssl = !git remote set-url origin $(git remote get-url origin | sed 's/^https:\\/\\/\\([^\\/]*\\)\\/\\(.*\\)/git@\\1\\:\\2/')
  st = "!p=\"${GIT_PREFIX:-.}\"; git status --short --branch && git diff --stat && git ll -4 && printf 'total: %s // web: %s\\n' \"$(GIT_WC_DIR=$p git wc)\" \"$(GIT_WC_DIR=$p git wc js jsx ts tsx vue html css)\""
  track = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
  wc = "!f() { cd \"${GIT_WC_DIR:-${GIT_PREFIX:-.}}\"; if [ $# -eq 0 ]; then a=$(git ls-files); else ext=$(IFS='|'; echo \"$*\"); a=$(git ls-files | grep -E \"\\.($ext)$\"); fi; at=$(echo \"$a\" | grep -c . || true); [ $at -eq 0 ] && printf '0 files - 0 lines - 0 chars' && return; aw=$(echo \"$a\" | xargs wc -lc 2>/dev/null | awk '{l=$1;c=$2} /total$/{tl+=$1;tc+=$2} END{if(tl) print tl,tc; else print l,c}'); printf '%s files - %s lines - %s chars' $at $(echo $aw | numfmt --to=si --field=1 | numfmt --to=iec --field=2); }; f"
[core]
  editor = vim
  excludesfile = ~/.gitexcludes
  hooksPath = ~/.githooks
  symlink = true
  fileMode = false
  pager = delta --navigate
[diff]
  colorMoved = default
[fetch]
  prune = true
[help]
  autocorrect = 1
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[pull]
  default = current
  ff = only
[push]
  default = current
  followTags = true
[stash]
  showPatch = true
[url "https://"]
  insteadOf = git://
[include]
  path = ~/.gitextra
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
