[alias]
  alias = config --get-regexp alias
  amend = !git add -p && git commit --amend && git push --force-with-lease
  bc = !git remote prune origin && git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}' | xargs git branch -D
  br = branch --all
  c = !eval git commit -m \\'$@\\' && git push "#"
  cl = !git clone --depth=1 $1 || git clone --depth=1 https://github.com/$1.git || git clone --depth=1 https://gitlab.com/$1.git "#"
  co = checkout
  cp = cherry-pick
  force = push --force-with-lease
  hard = !git reset --hard $([[ $1 -ne 0 ]] && echo HEAD~)$1 "#"
  https = !git remote set-url origin $(git remote get-url origin | sed 's/^git@\\(.*\\):\\/*\\(.*\\)/https:\\/\\/\\1\\/\\2/')
  lg = !git log --graph --oneline --color=always | fzf --ansi --no-sort --reverse --tiebreak=index
  pl = !git pull --rebase --autostash --no-edit --recurse-submodules
  ps = !git pl && git push
  rename = !git checkout $1 && git branch -m $1 $2 && git push origin -u $2 && git push origin :$1 "#"
  ssl = !git remote set-url origin $(git remote get-url origin | sed 's/^https:\\/\\/\\([^\\/]*\\)\\/\\(.*\\)/git@\\1\\:\\2/')
  st = !git status --short --branch && git diff --stat && git log -4 --pretty='%C(auto)%h %s'
  track = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
[core]
  editor = vim
  excludesfile = ~/.gitexcludes
  hooksPath = ~/.githooks
  symlink = true
  fileMode = false
  pager = delta --diff-so-fancy --navigate
[diff]
  colorMoved = default
[fetch]
  prune = true
[help]
  autocorrect = 1
[pull]
  default = current
  ff = only
[push]
  default = current
  followTags = true
[stash]
  showPatch = true
[url "https://"]
  insteadOf = git://
[include]
  path = ~/.gitextra
